/* Colors */
/* Color Textarea, Button*/
/* Percent Items */
/* Filmstripe */
/* Space */
.width50 {
  vertical-align: top;
  width: 95%;
}
.infoList span {
  width: 150px;
  display: inline-block;
}
p.error {
  color: #a10d08;
}
p.error span {
  font-weight: bold;
}
input[type=radio] {
  width: auto;
  display: inline;
  float: left;
}
label.radio {
  width: auto;
  float: left;
}
ul.backendList {
  list-style-type: none;
  padding: 0;
}
ul.backendList li {
  padding: 5px 2px;
  height: 40px;
}
ul.backendList li.large {
  height: 60px;
}
ul.backendList li .row.options {
  width: 30%;
  float: right;
}
ul.backendList li .row.options.large {
  width: 40%;
}
ul.backendList li .titleText {
  width: 65%;
  float: left;
}
ul.backendList li .userName {
  width: 65%;
  float: left;
}
ul.backendList li .titleText.small {
  width: 55%;
}
ul.backendList li .status {
  width: 5%;
  text-align: center;
}
ul.backendList li img {
  float: left;
  padding-right: 10px;
  width: 20px;
}
ul.backendList li.head {
  background-color: #0aa1d2;
  color: #fff;
}
ul.backendList li.firstLine {
  background-color: #feffff;
}
ul.backendList li.secondLine {
  background-color: #d5d3c8;
}
ul.backendList li.error {
  background-color: #ffe7e5;
}
ul.backendList li:hover {
  background-color: #64a7d6;
}
.bottom {
  vertical-align: bottom;
}
.jsStatistic {
  display: none;
}
.backendList.text span.titleText {
  width: 55%;
}
.spaceStatus {
  margin-left: 30px;
}
.titleStatus {
  margin-left: 30px;
}
.backendList.reservation li {
  height: 70px;
}
.backendList.reservation .firstLine {
  height: 90px;
}
.backendList.reservation .secondLine {
  height: 90px;
}
.backendList.reservation span {
  display: inline-block;
}
.backendList.reservation span.status {
  width: 16%;
  text-align: left;
}
.backendList.reservation span.status img {
  margin: 0 5px;
}
.backendList.reservation span.reservationNumber {
  width: 43%;
}
.backendList.reservation span.name {
  width: 35%;
}
.backendList.reservation span.email {
  width: 60%;
  margin-top: 5px;
}
.backendList.reservation span.priceTotal {
  width: 35%;
  margin-top: 5px;
}
.backendList.reservation span.reservationTime {
  margin-top: 5px;
  width: 50%;
}
.backendList.reservation span.row.options {
  float: right;
  margin-top: 5px;
  width: 50%;
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .width50 {
    width: 80%;
  }
  ul.backendList li.large {
    height: 40px;
  }
  .backendList.reservation li {
    height: 50px;
  }
  .backendList.reservation .firstLine {
    height: 70px;
  }
  .backendList.reservation .secondLine {
    height: 70px;
  }
  .backendList.reservation span.status {
    width: 10%;
    text-align: left;
  }
  .backendList.reservation span.status img {
    margin: 0 5px;
  }
  .backendList.reservation span.reservationNumber {
    width: 30%;
  }
  .backendList.reservation span.name {
    width: 20%;
  }
  .backendList.reservation span.email {
    width: 30%;
    margin: 0;
  }
  .backendList.reservation span.priceTotal {
    width: 20%;
    margin-top: 5px;
  }
  .backendList.reservation span.reservationTime {
    margin-top: 5px;
    width: 35%;
  }
  .backendList.reservation span.row.options {
    float: right;
    margin-top: 5px;
    width: 38%;
  }
}
@media (min-width: 680px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .width50 {
    width: 45%;
    display: inline-block;
  }
  .right {
    float: right;
  }
  div.content {
    margin: auto;
    max-width: 100%;
  }
  /* Table */
  ul.backendList li {
    height: 20px;
  }
  ul.backendList li.large {
    height: 20px;
  }
  ul.backendList li .row.options.large {
    width: 45%;
  }
  ul.backendList li .titleText.small {
    width: 50%;
  }
  ul.backendList li .row.options {
    width: 30%;
    text-align: right;
    padding-right: 10px;
  }
  ul.backendList li .titleText {
    width: 65%;
  }
  .backendList.reservation li {
    height: 50px;
  }
  .backendList.reservation .firstLine {
    height: 50px;
  }
  .backendList.reservation .secondLine {
    height: 50px;
  }
  .backendList.reservation span.status {
    width: 8%;
    text-align: left;
  }
  .backendList.reservation span.status img {
    margin: 0 5px;
  }
  .backendList.reservation span.reservationNumber {
    width: 25%;
  }
  .backendList.reservation span.name {
    width: 20%;
  }
  .backendList.reservation span.email {
    width: 30%;
  }
  .backendList.reservation span.priceTotal {
    width: 10%;
    margin-top: 0px;
  }
  .backendList.reservation span.reservationTime {
    margin-top: 5px;
    width: 35%;
  }
  .backendList.reservation span.row.options {
    float: right;
    margin-top: 5px;
    width: 38%;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  div.content,
  nav ul.menu {
    max-width: 1024px;
  }
  ul.backendList li .row.options.large {
    width: 40%;
  }
  ul.backendList li .titleText.small {
    width: 55%;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .backendList.reservation li {
    height: 20px;
  }
  .backendList.reservation .firstLine {
    height: 20px;
  }
  .backendList.reservation .secondLine {
    height: 20px;
  }
  .backendList.reservation span {
    display: inline-block;
  }
  .backendList.reservation span.name {
    width: 18%;
  }
  .backendList.reservation span.email {
    width: 20%;
  }
  .backendList.reservation span.reservationNumber {
    width: 15%;
  }
  .backendList.reservation span.status {
    width: 5%;
    text-align: center;
  }
  .backendList.reservation span.status img {
    padding-left: 10px;
  }
  .backendList.reservation span.priceTotal {
    width: 10%;
  }
  .backendList.reservation span.reservationTime {
    margin-top: 0px;
    width: 13%;
  }
  .backendList.reservation span.row.options {
    float: right;
    width: 15%;
    margin-top: 0px;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
