@import "variables.less";

@maxWidthContent: 1024px;
.width50 {
  vertical-align: top;
  width: 100%;
}

.infoList {
  span {
    width: 150px;
    display: inline-block;
  }
}

p.error {
  color: #a10d08;
  span {
    font-weight: bold;
  }
}

input[type=radio] {
  width: auto;
  display: inline;

  float: left;
}

label.radio {
  width: auto;
  float: left;
}

ul.backendList {
  list-style-type: none;
  padding: 0;
}

ul.backendList li {
  padding: 5px 2px;
  height: 40px;
}

ul.backendList li .row.options {
  width: 30%;
  float: right;
}

ul.backendList li .titleText {
  width: 65%;
  float: left;
}

ul.backendList li img {
  float: left;
  padding-right: 10px;
  width: 20px;
}

ul.backendList li.head {
  background-color: @blue;
  color: #fff;
}

ul.backendList li.firstLine {
  background-color: @textArea;
}

ul.backendList li.secondLine {
  background-color: #d5d3c8;
}

ul.backendList li.error {
  background-color: @colorErrorLight;
}

ul.backendList li:hover {
  background-color: #64a7d6;
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .width50 {
    width: 80%;
  }
}

@media (min-width: 680px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .width50 {
    width: 45%;
    display: inline-block;
  }

  .right {
    float: right;
  }

  div.content {
    margin: auto;
    max-width: 100%;
  }

  /* Table */
  ul.backendList li {
    height: 20px;
  }

  ul.backendList li .row.options {
    width: 20%;
  }

  ul.backendList li .titleText {
    width: 75%;
  }

  .backendList.reservation {
    span {
      display: inline-block;
    }
    span.name {
      width: 20%;
    }

    span.email {
      width: 25%;
    }

    span.reservationNumber {
      width: 15%;
    }
    span.priceTotal {
      width: 10%;
    }

    span.row.options {
      float: right;
      width: 15%;
    }
  }

}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  div.content, nav ul.menu {
    max-width: @maxWidthContent;
  }

}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */

}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */

}