/* TODO: this should be less :) */
/* debugging Media Queries Colors*/
/* Colors */
/* Color Textarea, Button*/
/* Percent Items */
/* Filmstripe */
/* Space */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
div.container {
  font-family: 'Lato', sans-serif;
  position: relative;
  min-height: 100%;
}
div.content {
  padding: 0 10px 7em 10px;
  margin: 0;
  background: #fafcf1;
  min-height: 72%;
}
div.content p {
  font-family: 'PT Serif', serif;
  font-size: 0.8em;
}
/* Footer*/
footer {
  text-align: center;
  padding: 0 0 0 0;
  margin: 0;
  background: #686d73;
  color: #feffff;
  position: absolute;
  height: 2em;
  bottom: 0;
  width: 100%;
}
footer span {
  margin: 10px 30px 0 0;
  font-size: 11px;
}
/* Headlines */
h1 {
  color: #2c2c2c;
}
h2 {
  color: #0aa1d2;
  font-size: 1.4em;
}
/* Links */
a {
  color: #dd6527;
}
a:hover {
  color: #68390f;
  text-decoration: underline;
}
/* Buttons */
a.button {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}
.button.blue {
  background-color: #32a12a;
}
.button.blue:hover {
  background-color: #4c2d1f;
  color: #fff;
}
/* Menu */
nav {
  background: #c41af9;
  padding: 0;
}
nav ul.menu {
  background-color: #e58523;
  padding: 0;
  margin: 0;
}
nav .mobile {
  color: #feffff;
  position: absolute;
  right: 10px;
  padding: 12px 0 0 0;
}
nav .logoText {
  margin: 0;
  padding: 0 0 0 10px;
  height: 2.7em;
  width: auto;
  display: inline-block;
}
nav .LogoNoText {
  display: none;
}
nav ul.menu li {
  display: none;
  padding: 10px;
  text-align: center;
  margin: 0;
}
nav ul.menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}
nav:hover ul.menu li {
  display: block;
}
nav ul.menu li:hover {
  background-color: rgba(254, 255, 255, 0.2);
  cursor: pointer;
}
nav:hover {
  background-color: #dd6527;
  cursor: pointer;
}
/* Filmstripe Top */
.filmStripeTop img {
  position: absolute;
  width: 100%;
  height: 50px;
  display: block;
}
.headline {
  margin-bottom: 2em;
  font-size: 0.8em;
}
.headline h1 {
  padding-top: 9px;
  margin: 0;
}
/* Filmstripe Down */
.filmStripeDown img {
  position: absolute;
  width: 100%;
  height: 50px;
  display: block;
  bottom: 2em;
}
/* Veranstaltungs Block*/
.veranstaltung h2 {
  border-bottom: 2px solid rgba(104, 109, 115, 0.3);
}
/* Kontaktformular */
form {
  padding: 10px 0;
}
label {
  display: block;
}
input,
textarea,
select {
  margin-bottom: 15px;
  border: 2px solid #686d73;
  background-color: #feffff;
  padding: 8px;
  width: 95%;
  font-family: normal-font, serif;
}
select {
  width: auto;
}
input[type=submit] {
  padding: 5px 20px;
  color: #feffff;
  background-color: #0aa1d2;
  font-size: 1.1em;
  width: 120px;
  border: 0;
}
input[type=submit]:hover {
  cursor: pointer;
  background-color: #1a75d2;
}
/* Allgemein */
.width65 {
  width: 55%;
}
.width50 {
  width: 50%;
}
.left {
  float: left;
  display: inline;
  width: 18px;
}
.clear {
  clear: both;
}
/* Fehlermeldungen */
.errorBox {
  border: 3px solid #a10d08;
  padding: 10px;
  margin-top: 10px;
  color: #a10d08;
  font-weight: bold;
  background-color: #ffe7e5;
}
input.error,
textarea.error,
select.error {
  border: 2px solid #a10d08;
  color: #a10d08;
  background-color: #ffe7e5;
}
label.error {
  color: #a10d08;
  font-weight: bold;
}
/* Comments */
.commentBlock {
  margin: 10px 0;
}
.commentBlock .comment {
  background-color: #c0e1ef;
  padding: 10px;
  color: #09354c;
}
.commentBlock .firstLine {
  background-color: #09354c;
  padding: 10px;
  color: #fff;
  font-size: 0.8em;
}
.commentBlock .firstLine .name,
.commentBlock .firstLine .date {
  display: inline-block;
}
.commentBlock .firstLine .name {
  text-align: left;
  width: 70%;
}
.commentBlock .firstLine .date {
  text-align: right;
  width: 28%;
}
.commentBlock .title {
  font-weight: bold;
  font-size: 1.2em;
  margin: 3px auto;
}
/*** no resilt */
.noResult {
  padding: 30px 0;
}
ul.backendList {
  list-style-type: none;
  padding: 0;
}
ul.backendList li {
  padding: 3px 2px;
}
ul.backendList li .row.options {
  width: 20%;
  float: right;
}
ul.backendList li.head {
  background-color: #0aa1d2;
  color: #fff;
}
ul.backendList li.firstLine {
  background-color: #feffff;
}
ul.backendList li.secondLine {
  background-color: #d5d3c8;
}
ul.backendList li:hover {
  background-color: #64a7d6;
}
/* Media Queries */
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  /* debugging Media Queries */
  nav {
    background: #2311f9;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  /* debugging Media Queries */
  nav {
    background: #35f90b;
  }
}
@media (min-width: 680px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  div.content {
    margin: auto ;
    max-width: 700px;
  }
  /* Menu */
  nav {
    text-align: left;
  }
  nav .logoText {
    padding: 0 0 0 10px;
    position: absolute;
    height: 2.7em;
    left: 0;
    display: none;
  }
  nav .LogoNoText {
    padding: 0 0 0 10px;
    position: absolute;
    height: 2.7em;
    left: 0;
    display: block;
  }
  nav .mobile {
    display: none;
  }
  nav ul.menu li {
    display: inline-block;
  }
  nav ul.menu {
    margin: auto ;
    padding: 0 10px;
    max-width: 700px;
  }
  nav:hover ul.menu li {
    display: inline-block;
  }
  nav:hover {
    background-color: #e58523;
    cursor: auto;
  }
  /* Filmstripe */
  .filmStripeTop img {
    height: 80px;
  }
  /* Filmstripe Down */
  .filmStripeDown img {
    width: 100%;
  }
  .headline {
    font-size: 1.2em;
    max-width: 700px;
  }
  .headline h1 {
    padding-top: 16px;
  }
  /* Veranstaltungs Block*/
  .veranstaltung {
    width: 47%;
    min-height: 300px;
    max-height: 300px;
    margin-left: 10px;
    float: left;
  }
  /* debugging Media Queries */
  nav {
    background: #f91221;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  /* Menu */
  nav .logoText {
    display: block;
  }
  nav .LogoNoText {
    display: none;
  }
  /* Filmstripe */
  .filmStripeTop img {
    width: 100%;
  }
  /* debugging Media Queries */
  nav {
    background: #0cf9cb;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  /* debugging Media Queries */
  nav {
    background: #e8f913;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  div.content {
    margin: auto;
    max-width: 700px;
  }
  /* Menu */
  nav {
    margin: auto;
    padding: 0 20%;
  }
  /* Filmstripe Down */
  .filmStripeDown img {
    height: 65px;
  }
  /* Veranstaltungs Block*/
  .veranstaltung {
    width: 31%;
    margin-left: 10px;
    float: left;
  }
  /* debugging Media Queries */
  nav {
    background: #f900a1;
  }
}
