@debugMedia0: #e52414;
@debugMedia1: #1fe509;
@debugMedia2: #14b1e5;
@debugMedia3: #0d24e5;
@debugMedia4: #cf0be5;
@debugMedia5: #e5c400;
@debugMedia6: #e58523;

/* Colors */
@textWhite: #feffff;
@textBlack: #2c2c2c;

@orange: #e58523;
@blue: #0aa1d2;

@headline3: #d24543;
@headline4: #d27226;

@blueLighter: #eff2f9;
@grayLight: #686d73;
@white: #feffff;
@backgroundContent: #f8fcf1;

@colorError: #a10d08;
@colorErrorLight: #ffe7e5;
@colorErrorLighter: #fff3f3;

@aNormal: #dd6527;
@aHover: #68390f;

/* Color Textarea, Button*/
@button: #0aa1d2;
@buttonHover: #1a75d2;

@textAreaBorder: #686d73;
@textArea: #feffff;

/* Percent Items */

@content: 20%;
@contentSmallScreen: 5%;
@contentMiddleScreen: 15%;

/* Filmstripe */
@heightSmall: 50px;
@heightMiddle: 65px;
@heightNormal: 80px;

/* Space */
@contentSmallSpace: 10px;
@footerHeight: 2em;

@maxWidthContent: 700px;

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

div.container{
  font-family: 'Lato', sans-serif;
  position:relative;
  min-height:100%;
}

div.content {
  padding: 0 @contentSmallSpace 7em @contentSmallSpace;
  margin: 0;
  background: @backgroundContent;
}

div.content p{
  font-family: 'PT Serif', serif;
  font-size: 0.8em;
}

/* Headlines */

h1 {
  color: @textBlack;
  font-size: 1.8em;
}

h2{
  color: @blue;
  font-size: 1.4em;
  margin-top: 35px;
  border-bottom: 2px solid fade(@grayLight, 30%);
}

h3{
  color: @headline3;
  font-size: 1.1em;
}

h4{
  color: @headline4;
  font-size: 1.0em;
}

/* Links */

a {
  color: @aNormal;
}

a:hover {
  color: @aHover;
  text-decoration: underline;
}

/* Footer*/

footer{
  text-align: center;
  margin: 0;
  background: @grayLight;
  position:absolute;
  height: @footerHeight;
  bottom: 0;
  width: 100%;
}

footer a {
  margin: 0 30px 0 0;
  color: @white;
  font-size: 9px;
  text-decoration: none;
}

footer a:hover {
  color: @orange;
  text-decoration: underline;
}

/* Buttons */
a.button {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

.button.blue {
  background-color: #32a12a;
}

.button.blue:hover {
  background-color: #4c2d1f;
  color: #fff;
}

/* Menu */

nav {
  background: @debugMedia0;
  padding-top: 5px;
}

nav ul.menu {
  background-color: @orange;
  padding: 0;
  margin: 0;
}

nav .mobile{
  color: @white;
  right: @contentSmallSpace;
  padding-top: 11px;
  padding-right: @contentSmallSpace;
  float: right;
}


nav .logo img {
  margin: 0;
  padding: 0 0 0 @contentSmallSpace;
  height: 2.7em;
  width: auto;
  float: left;
}

nav .schriftLogo{
  color: @white;
  font-family: 'PT Serif', serif;
  display: inline-block;
  top: 0;
}

nav ul.menu li {
  display: none;
  padding: 10px;
  text-align: center;
  margin: 0;
}


nav ul.menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

nav:hover ul.menu li {
  display: block;
}

nav ul.menu li:hover {
  background-color: fade(@white, 20%);
  cursor: pointer;
}

nav ul.menu li.right{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 60px;
}

nav:hover {
  background-color: @aNormal;
  cursor: pointer;
}

/* Filmstripe Top */

.filmStripeTop img{
  position: absolute;
  width: 100%;
  height: @heightSmall;
}


.headline{
  margin-bottom: 2em;
  font-size: 0.8em;
}

.headline h1{
  padding-top: 9px;
  margin: 0;
}

/* Filmstripe Down */

.filmStripeDown img{
  position: absolute;
  width: 100%;
  height: @heightSmall;
  bottom: @footerHeight;
}

.imgLarge{
  display: none;
}

/* Veranstaltungs Block*/
.events {
  margin-bottom: 30px;
  img{
    width: 100%;
    margin-bottom: 15px;
  }
}




/* Kontaktformular */
form {
  padding:  0;
}

label {
  display: block;
}

input, textarea, select {
  margin-bottom: 15px;
  border: 2px solid @textAreaBorder;
  background-color: @textArea;
  padding: 8px;
  width: 95%;
  font-family: normal-font, serif;
}

select {
  width: auto;
}

input[type=submit] {
  padding: 5px 20px;
  color: @textWhite;
  font-family: 'Lato', sans-serif;
  background-color: @button;
  font-size: 1.1em;
  width: 120px;
  border: 0;
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: @buttonHover;
}

input[type=submit].longButton{
  width: 220px;
  display: block;
  padding: 10px 20px;
}

/* Warenkorb */
.shopSelection{
  margin-bottom: 10px;
}

.shopInfo{
  width: 100%;
  padding: 0;
  background: @white;
  .endPriceBlock {

    span {
      border-top: 1px solid @grayLight;
      padding-top: 10px;
    }
  }
  ul{
    list-style-type: none;
    padding: 0;
    li {
      padding: 10px 5px;
      span{
        display: inline-block;
      }

      span.title {
        width: 40%;
        text-align: right;
      }

      span.type {
        width: 35%;
      }
      span.count{
        width: 20%;
      }

      span.price{
        width: 35%;
        padding: 0;
      }
      span.priceTotal{
        width: 35%;
      }
      a{
        text-align: right;
      }
    }

    li.header{
      background-color: @blue;
      color: @white;

      span.delete {
        display: none;
      }
    }
  }
  input.count {
    width: 40px;
  }
  .contactInfo {
    padding-top: 20px;
  }
  input.longButton {
    margin: 0;
  }
}

.shopInfo .price{
  padding-left: 10px;
}

.grayBackground{
  width: 100%;
  background: @grayLight;
  padding: 10px 0;
}

.grayBackground input{
  margin: 0 10px;
}

/* Allgemein */
.width65 {
  width: 55%;
}

.width50 {
  width: 50%;
}

.width10 {
  width: 10%;
}

.left {
  float: left;
  display: inline;
  width: 18px;
}

.clear {
  clear: both;
}

/* Fehlermeldungen */

.errorBox {
  border: 3px solid @colorError;
  padding: 10px;
  margin: 10px 0;
  color: @colorError;
  font-weight: bold;
  background-color:@colorErrorLight;
}

input.error, textarea.error, select.error {
  border: 2px solid @colorError;
  color: @colorError;
  background-color: @colorErrorLight;
}

label.error {
  color: @colorError;
  font-weight: bold;
}

/* Success Messages */

.successBox {
  border: 3px solid @blue;
  padding: 10px;
  margin-bottom: 20px;
  color: @blue;
  font-weight: bold;
  background-color: @blueLighter;

  ul {
    padding-left: 15px;
    list-style: none;
  }
}

/* Comments */

.commentBlock {

  margin: 10px 0;
}

.commentBlock .comment {
  background-color: #c0e1ef;
  padding: 10px;
  color: #09354c;
}

.commentBlock .firstLine {
  background-color: #09354c;
  padding: 10px;
  color: #fff;
  font-size: 0.8em;
}

.commentBlock .firstLine .name, .commentBlock .firstLine .date {
  display: inline-block;
}

.commentBlock .firstLine .name {
  text-align: left;
  width: 70%;
}

.commentBlock .firstLine .date {
  text-align: right;
  width: 28%;
}

.commentBlock .title {
  font-weight: bold;
  font-size: 1.2em;
  margin: 3px auto;
}

/* Documentation */
.dokumentation img{
  width: 100%;
}

/*** no resilt */

.noResult {
  padding: 30px 0;
}

/* Media Queries */

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */

  /* debugging Media Queries */
  nav {
    background: @debugMedia1;
  }
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  /* debugging Media Queries */
  nav {
    background: @debugMedia2;
  }

  .events {
    img{
      width: 200px;
      float:left;
      padding-right: 15px;
    }
  }
  /* Shopping Cart */

  .shopInfo {


    padding-top: 0;
    padding-bottom: 15px;
    .endPrice {
      float:right;
      padding-right:90px;
      margin-right: 15px;
    }

    .contactInfo {
      padding-left: 10px;
    }

    input.longButton {
      margin-left: 65%;
    }
    ul {

      padding: 0;
      li {

        padding: 10px;
        span{
          width: auto;
          vertical-align: bottom;
        }
        input {
          vertical-align: bottom;
          margin-bottom: 0;
        }
        span.count {
          width: 11%;
          label {
            display: none;
          }
        }
        span.title {
          width: 28%;
          text-align: left;
        }
        span.price, span.priceTotal {
          width: 15%;
          text-align: right;
        }
        span.type {
          width: 15%;
          text-align: center;
        }

        span.delete {
          width: 12%;
          text-align: right;
        }
      }

      li.header {
        display: block;
      }
    }
  }

}

@media (min-width: 680px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  div.content {
    margin: auto ;
    max-width: @maxWidthContent;
  }

  /* Menu */
  nav {
    padding-bottom: 0;
    text-align: left;
  }

  nav .mobile {
    display: none;
  }

  nav ul.menu li  {
    display: inline-block;
  }

  nav ul.menu {
    margin: auto ;
    padding: 0 @contentSmallSpace;
    max-width: @maxWidthContent;
  }

  nav:hover ul.menu li {
    display: inline-block;
  }

  nav:hover {
    background-color: @orange;
    cursor: auto;
  }

  nav ul.menu li.right{
    float:right;
    padding: 5px;
    position: relative;
    right: auto;
  }

  /* Filmstripe */
  .filmStripeTop img{
    height: @heightNormal;
  }

  .imgLarge{
    display: block;
  }

  .imgSmall{
    display: none;
  }

  /* Filmstripe Down */
  .filmStripeDown img{
    width: 100%;
  }

  .headline{
    font-size: 1em;
    max-width: @maxWidthContent;
  }

  .headline h1{
    padding-top: 23px;
  }

  /* Veranstaltungs Block*/
  .events {
    float: left;
    img {
      width: 250px;
    }
  }
  .events h3{
    margin-top: 0;
  }

  /* Documentation */
  .dokumentation img{
    width: 60%;
    float: left;
    padding: 0 10px 5px 0;
  }

  /* debugging Media Queries */
  nav {
    background: @debugMedia3;
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

  /* debugging Media Queries */
  nav {
    background: @debugMedia4;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */

  /* debugging Media Queries */
  nav {
    background: @debugMedia5;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  div.content {
    margin: auto;
    max-width: @maxWidthContent;

  }

  /* Filmstripe Down */
  .filmStripeDown img{
    height: @heightMiddle;
  }

  /* Veranstaltungs Block*/
  .events {
    width: 97%;
    margin-left: 10px;
    float: left;
  }

  /* debugging Media Queries */
  nav {
    background: @debugMedia6;
  }
}