{% extends "layout.html.twig" %}
{% block content %}
    <h1>Nutzer</h1>

    <p>
        Hier können Sie alle Nutzer einsehen und bearbeiten.
    </p>

    <a href="{{ newEntryRoute }}">Neuen Eintrag anlegen</a>

    {% if backendUserData %}

        <ul class="backendList">
            <li class="head">Name<span class="row options">Optionen</span></li>
            {% for backendUser in backendUserData %}
                <li class="{% if backendUser.index is divisible by(2) %}firstLine{% else %}secondLine{% endif %}">
                    {{ backendUser.username }}
                    <span class="row options">
                        <a href="{{ backendUser.editRoute }}">bearbeiten</a>&nbsp;
                        <a href="{{ backendUser.deleteRoute }}">löschen</a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            Es liegen keine Nutzer vor.
        </p>
    {% endif %}
{% endblock %}