{% if errorData %}
    <div class="errorBox">
        <ul>
            {% for error in errorData %}
                {% if error %}
                    <li>{{ error | raw }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}