<html>
<head>
    <title>{% block title %}{{ pageTitle }}{% endblock %} | Ticketsystem</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
<ul class="menu">
    <li><a href="/admin/start">Startseite</a></li>
    <li><a href="/admin/programme">Programme</a></li>
    <li><a href="/admin/zeitraum">Zeiträume</a></li>
    <li><a href="/admin/textvorlagen">Textvorlagen</a></li>
    <li><a href="/admin/nutzer">Nutzer</a></li>

    {% if loggedIn %}
        <li><a href="/admin/logout">Logout</a></li>
    {% endif %}

</ul>

<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>