{% extends "layout.html.twig" %}
{% block headline %}
    <h1>Login</h1>
{% endblock %}

{% block content %}

    {% include "error-message.html.twig" %}
    <form action="{{ formAction }}" method="post">
        <label for="username" {% if formError.username %}class="error"{% endif %}>Benutzername:</label>
        <input type="text" id="username" class="width50{% if formError.username %} error{% endif %}" name="username"
               value="{{ formData.username }}" autofocus="autofocus"/>
        <label for="password" {% if formError.password %}class="error"{% endif %}>Passwort:</label>
        <input type="password" id="password" class="width50{% if formError.password %} error{% endif %}" name="password"
               value="{{ formData.password }}"/>
        <p><input type="submit" value="Login"/></p>
    </form>
{% endblock %}
