{% extends "layout.html.twig" %}
{% block headline %}
    <h1>Übersicht</h1>
{% endblock %}

{% block content %}

    Hallo {{ user.appellation }} {{ user.lastname }}!
    <p>
        Hier gibts irgendwann mal ein bisschen mehr zu sehen.
    </p>
{% endblock %}
