{% extends "layout.html.twig" %}
{% block headline %}
    <h1>Page Not Found</h1>
{% endblock %}

{% block content %}
    <p>
        Leider konnte die Seite nicht gefunden werden.
    </p>
{% endblock %}