<html>
<head>
    <title>{% block title %}{{ pageTitle }}{% endblock %} | Flensburger Kurzfilmtage</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
<ul class="menu">
    <li><a href="/">Startseite</a></li>
    <li><a href="/programme">Programme</a></li>
    <li><a href="/impressum">Impressum</a></li>
    <li><a href="/admin">Login</a></li>
</ul>

<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>