{% extends "layout.html.twig" %}
{% block headline %}
    <h1>Programme</h1>
{% endblock %}

{% block content %}
    {% if programData %}

        <ul>
            <li class="head">Titel<span class="row options">Optionen</span></li>
            {% for program in programData %}
                <li>
                    {{ program.title }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            Es liegen keine Programme vor.
        </p>
    {% endif %}
{% endblock %}
