{% extends "layout.html.twig" %}
{% block headline %}
    <h1>Programme</h1>
{% endblock %}

{% block content %}
    {% if programData %}


        {% for program in programData %}
            <div class="veranstaltung">
                <h2>
                    {{ program.title }}
                </h2>
                <p>
                    <i>{{ program.intro }}</i>
                </p>
                <p>
                    {{ program.text }}
                </p>
            </div>

        {% endfor %}

    {% else %}
        <p>
            Es liegen keine Programme vor.
        </p>
    {% endif %}
{% endblock %}
