{% extends "layout.html.twig" %}
{% block headline %}
    <h1>Reservierung nicht möglich</h1>
{% endblock %}

{% block content %}

    Leider konnte Ihre Reservierung nicht bestätigt werden.

{% endblock %}