{% extends "layout.html.twig" %}
{% block headline %}
    <h1>Warenkorb</h1>
{% endblock %}

{% block content %}
    <form action="{{ formAction }}" method="post">
        <div class="shopSelection">
            <input type="radio" name="mode" value="booking" id="modeBooking"/><label for="modeBooking"> Buchung</label>
        </div>
        <div class="shopSelection secondSelection">
            <input type="radio" name="mode" value="reservation" id="modeReservation"/><label for="modeReservation">
                Reservierung</label>
        </div>
        <div class="clear"></div>
        <div class="shopInfo">
            <ul>
                <li>
                    <span>Anzahl</span><span>Blocktitel</span><span>Einzelpreis</span><span>Gesamtpreis</span><span>Entfernen</span>
                </li>
                <li>
                    <span><input type="text" value="2" size="3"/></span>
                    <span>Toller Film </span>
                    <span>5,00 €</span>
                    <span>10,00 €</span>
                    <span><a href="">Löschen</a></span>
                </li>
            </ul>
            <div>
                <span class="price">Gesamtpreis: 10,00 €</span>
            </div>
        </div>
        <div class="grayBackground">
            <input class="longButton" type="submit" value="Jetzt verbindlich buchen"/>
        </div>
    </form>

    <div class="clear"></div>
{% endblock %}
