{% extends "layout.html.twig" %}
{% block headline %}
    <h1>Impressum</h1>
{% endblock %}

{% block content %}
    <p>Vertretungsberechtigter Vorstand: Thomas Dethleffsen,
        Joachim Freitag,
        Thorsten Kehl, Hans Herbert Tölke</p>
    <p>
        <span>Registergericht:</span>
        Amtsgericht Flensburg
    </p>
    <p>
        <span>Registernummer:</span>
        2VR 1775
    </p>

{% endblock %}