{% extends "layout.html.twig" %}
{% block headline %}
    <h1>Ticketshop</h1>
{% endblock %}

{% block content %}

    <h2>Flensburger Kurzfilmtage</h2>
    <p>
        Über 100 Filme in 24 Veranstaltungen, 8 Wettbewerbsblöcke dazu Sonderprogramme von plattdeutschen
        Werbetrailern bis hin zu internationalen Animationsfilmen, mit vielen Gästen und Flensburger Festivalatmosphäre.
        <a href="">Hier der Programmüberblick</a>
    </p>

    <h2>Bevorstehende Veranstaltungen</h2>

{% endblock %}