{% if successData %}
    <div class="clear"></div>
    <div class="successBox">
        <ul>
            {% for success in successData %}
                {% if success %}
                    <li>{{ success }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}