<html>
<head>
    <title>{% block title %}{{ pageTitle }}{% endblock %}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
<ul class="menu">
    <li><a href="/hallo">Begrüssung</a></li>
    <li><a href="/">Blog-Nachrichten</a></li>
    <li><a href="/impressum">Impressum</a></li>
</ul>

<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>