{% extends "frontend/layout.html.twig" %}
{% block content %}
    <h1>Dokumentation</h1>
    <p>
        Marten Jensen, Matr.-Nr.: , Studip Login Name<br/>
        Jasmin Stern, Matr.-Nr.: 571107, stja7017
    </p>
    <h2>Ziel und Funktionsumfang der Anwendung</h2>
    <h2>Aufbau der Anwendung</h2>
    <h2>Überlegungen zu den URIs</h2>
    <h2>Aufgabenteilung: Welcher Teil übernimmt welche Aufgaben?</h2>
    <h2>Warum wurde diese Aufteilung gewählt?</h2>
    <h2>Aufbau der Datenbank</h2>
    <h2>Nutzung von JS im Frontend</h2>
    <h2>Überlegungen zum Progressive Enhancement</h2>
    <h2>Besonderheiten</h2>
    <h2>Aufgetretene Probleme und deren Lösungen</h2>
    <h2>Wer hat was umgesetzt?</h2>
    <h2>Welche externen Komponenten, Scripte, CSS etc werden verwendet?</h2>
    <h2>Warum werden sie verwendet?</h2>
    <h2>Welchen vorhandenen Lösungen haben Sie als Vorlage oder Inspiration genutzt?</h2>
    <h2>Ggf. eine Erklärung, dass sie über die nötigen Rechte für externe Inhalte, Bilder und Komponenten verfügen, ggf.
        mit URIs. Keine Ausdrucke der AGBs beifügen!</h2>
{% endblock %}